# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcscheme
*.playground/xcuserdata/

# Build products
build/
DerivedData/
iOS projectTests/
iOS projectUITests/
iOS project/GoogleService-Info.plist

# Swift Package Manager
.swiftpm/

# CocoaPods (if used)
Pods/
Podfile.lock

# Carthage (if used)
Carthage/
*.xcarchive/

# Other
.jazzy/
.swiftlint.yml
.travis.yml
.fastlane/
.idea/